<div class="container d-flex flex-column justify-content-between text-white">
  <div class="d-flex justify-content-between mt-4">
    <a href="<%= root_path %>">
      <%= image_tag 'ic_arrow_back.png' %>
    </a>
    <%= image_tag 'ic_thermostat.png' %>
  </div>

  <div class="d-flex flex-column align-items-center">
    <div>
      <%= @city['name'] %>
      <%= image_tag 'ic_location.png' %>
    </div>
    <div class="h1">
      <%= @city['main']['temp'] %>°F
    </div>
    <div>
      <%= @city['weather'][0]['description'].capitalize %>
    </div>
  </div>

  <div class="mb-5 d-flex justify-content-between">
    <div class="d-flex flex-column align-items-center">
      <%= image_tag 'ic_wind.png' %>
      <%= @city['wind']['speed'] %> mph
    </div>

    <div class="d-flex flex-column align-items-center">
      <%= image_tag 'ic_humidity.png', class: 'icon' %>
      <%= @city['main']['humidity'] %>%
    </div>

    <div class="d-flex flex-column align-items-center">
      <%= image_tag 'ic_binoculars.png', class: 'icon' %>
      <%= @city['visibility'] %> miles
    </div>
  </div>
</div>
